@import "../../common/color.scss";

.footer{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    align-items: center;
    background-color: $secendery_color;
}